@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,600,700);
@import url(css/font-awesome.min.css);
.accordion{
	overflow: hidden;
	margin-top: 20px;
	margin-bottom: 20px;
	font: normal 14px/1.2 'Open Sans', sans-serif;
	margin: 5px;
	border-radius: 10px 10px 10px 10px;
}
.accordion p {
	padding: 0;
	margin: 0;
}
.accordion h2 {
  margin: 0;
  font-size: 18px;
  float: none !important;
  opacity: inherit;
  text-shadow: none !important;
  margin: 0px !important;
  padding: 0px !important;
  line-height: 20px;
}
.accordion h2 a, .accordion h2 a:hover {
  display: block;
  padding: 10px;
  color: #000;  
  margin: 0;
  text-decoration: none;
  font-weight: 600;
  /*text-shadow: 1px 1px 1px rgba(83,83,83,1);*/
}
.accordion h2.open	 {border-bottom: 0px !important;}
.accordion h2 + div { padding: 10px; }
.accordion .collapse-contentblock {background-color: #FFFFFF; color: #000;}
/* Pre hide sections with JavaScript on --- */
.accordion .collapse-contentblock {
  display: none;
}
/*==============================================   Fontcolors  ==========================================*/
.accordion.fontcolor_black h2 a {color: #000000; !important;}
.accordion.fontcolor_white h2 a {color: #FFFFFF; !important;}
.accordion.fontcolor_dark-gray h2 a {color: #48494C; !important;}

/*==============================================   Toggle icon   ==========================================*/
.accordion h2 a:after {
	font-family: 'FontAwesome';
	src: url('../font/fontawesome-webfont.eot?v=3.0.1');
	src: url('../font/fontawesome-webfont.eot?#iefix&v=3.0.1') format('embedded-opentype'),
    url('../font/fontawesome-webfont.woff?v=3.0.1') format('woff'),
    url('../font/fontawesome-webfont.ttf?v=3.0.1') format('truetype');
    font-weight: normal;
    font-style: normal;
    display: inline-block;
    width: 25px;
    padding-right: 5px;
    float: right;
    text-align: right;
}
/*---------------------------------------- Plus/Minus (default) -----------------------------------------*/
.accordion h2.close a:after { 
	content: "\f067"; /*plus icon*/
}
.accordion h2.open a:after { 
	content: "\f068"; /*minus icon*/
}
/*---------------------------------------- Chevron Right/Chevron up -----------------------------------------*/
.accordion.chevrons h2.close a:after { 
	content: "\f054"; /*chevron right*/
}
.accordion.chevrons h2.open a:after { 
	content: "\f078"; /*chevron down*/
}
/*---------------------------------------- Plus sign/Minus sign -----------------------------------------*/
.accordion.signs h2.close a:after { 
	content: "\f055"; /*icon minus sign*/
}
.accordion.signs h2.open a:after { 
	content: "\f056"; /*icon plus sign*/
}
/*---------------------------------------- Caret right/Caret up -----------------------------------------*/
.accordion.carets h2.close a:after { 
	content: "\f0da"; /*icon minus sign*/
}
.accordion.carets h2.open a:after { 
	content: "\f0d7"; /*icon plus sign*/
}
/*---------------------------------------- Circle arrow right/Circle arrow up -----------------------------------------*/
.accordion.circle-arrows h2.close a:after { 
	content: "\f0a9"; /*icon circle arrow right*/
}
.accordion.circle-arrows h2.open a:after { 
	content: "\f0ab"; /*icon circle arrow down*/
}
/*==============================================   Colours   ==========================================*/
.accordion h2:hover {opacity:0.9;}
.accordion h2:last-of-type {border-bottom: none !important;}
.accordion.blue {border: 1px solid #0082BE}
.accordion.blue h2{
	background:#00A4EF;
	border-bottom:1px solid #0082BE;
}
.accordion.blue.gradient h2{
	color:#FFF;
	background-image:linear-gradient(bottom, rgb(0,163,239) 1%, rgb(0,177,241) 51%);
	background-image:-o-linear-gradient(bottom, rgb(0,163,239) 1%, rgb(0,177,241) 51%);
	background-image:-moz-linear-gradient(bottom, rgb(0,163,239) 1%, rgb(0,177,241) 51%);
	background-image:-webkit-linear-gradient(bottom, rgb(0,163,239) 1%, rgb(0,177,241) 51%);
	background-image:-ms-linear-gradient(bottom, rgb(0,163,239) 1%, rgb(0,177,241) 51%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00A3EF', endColorstr='#00B1F1',GradientType=0 ); /* IE6-9 */
}
.accordion.dark-blue {border: 1px solid #21345A}
.accordion.dark-blue h2{
	background:#385492;
	border-bottom:1px solid #21345A;
}
.accordion.dark-blue.gradient h2{
	color:#FFF;
	background-image:linear-gradient(bottom, rgb(56,85,146) 1%, rgb(63,95,159) 51%);
	background-image:-o-linear-gradient(bottom, rgb(56,85,146) 1%, rgb(63,95,159) 51%);
	background-image:-moz-linear-gradient(bottom, rgb(56,85,146) 1%, rgb(63,95,159) 51%);
	background-image:-webkit-linear-gradient(bottom, rgb(56,85,146) 1%, rgb(63,95,159) 51%);
	background-image:-ms-linear-gradient(bottom, rgb(56,85,146) 1%, rgb(63,95,159) 51%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#385592', endColorstr='#3F5F9F',GradientType=0 ); /* IE6-9 */
}
.accordion.dark-gray {border:1px solid #151617;}
.accordion.dark-gray h2{
	background:#48494C;
	border-bottom:1px solid #151617;
}
.accordion.dark-gray.gradient h2{
	color:#FFF;
	background-image:linear-gradient(bottom, rgb(72,73,76) 1%, rgb(82,85,88) 51%);
	background-image:-o-linear-gradient(bottom, rgb(72,73,76) 1%, rgb(82,85,88) 51%);
	background-image:-moz-linear-gradient(bottom, rgb(72,73,76) 1%, rgb(82,85,88) 51%);
	background-image:-webkit-linear-gradient(bottom, rgb(72,73,76) 1%, rgb(82,85,88) 51%);
	background-image:-ms-linear-gradient(bottom, rgb(72,73,76) 1%, rgb(82,85,88) 51%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#48494C', endColorstr='#525558',GradientType=0 ); /* IE6-9 */
}
.accordion.salmon {border:1px solid #B71700;}
.accordion.salmon h2{
	background:#F75D4E;
	border-bottom:1px solid #B71700;
}
.accordion.salmon.gradient h2{
	color:#FFF;
	background-image:linear-gradient(bottom, rgb(247,93,78) 1%, rgb(250,122,122) 51%);
	background-image:-o-linear-gradient(bottom, rgb(247,93,78) 1%, rgb(250,122,122) 51%);
	background-image:-moz-linear-gradient(bottom, rgb(247,93,78) 1%, rgb(250,122,122) 51%);
	background-image:-webkit-linear-gradient(bottom, rgb(247,93,78) 1%, rgb(250,122,122) 51%);
	background-image:-ms-linear-gradient(bottom, rgb(247,93,78) 1%, rgb(250,122,122) 51%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#F75D4E', endColorstr='#FA7A7A',GradientType=0 ); /* IE6-9 */
}
.accordion.orange {border:1px solid #D05808;}
.accordion.orange h2{
	background:#FFA210;
	border-bottom:1px solid #D05808;
}
.accordion.orange.gradient h2{
	color:#FFF;
	background-image:linear-gradient(bottom, rgb(255,163,16) 1%, rgb(255,179,56) 51%);
	background-image:-o-linear-gradient(bottom, rgb(255,163,16) 1%, rgb(255,179,56) 51%);
	background-image:-moz-linear-gradient(bottom, rgb(255,163,16) 1%, rgb(255,179,56) 51%);
	background-image:-webkit-linear-gradient(bottom, rgb(255,163,16) 1%, rgb(255,179,56) 51%);
	background-image:-ms-linear-gradient(bottom, rgb(255,163,16) 1%, rgb(255,179,56) 51%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#FFA310', endColorstr='#FFB338',GradientType=0 ); /* IE6-9 */
}
.accordion.mint {border:1px solid #007B4B;}
.accordion.mint h2{
	background:#16AE76;
	border-bottom:1px solid #007B4B;
}
.accordion.mint.gradient h2{
	color:#FFF;
	background-image:linear-gradient(bottom, rgb(22,174,118) 1%, rgb(53,190,142) 51%);
	background-image:-o-linear-gradient(bottom, rgb(22,174,118) 1%, rgb(53,190,142) 51%);
	background-image:-moz-linear-gradient(bottom, rgb(22,174,118) 1%, rgb(53,190,142) 51%);
	background-image:-webkit-linear-gradient(bottom, rgb(22,174,118) 1%, rgb(53,190,142) 51%);
	background-image:-ms-linear-gradient(bottom, rgb(22,174,118) 1%, rgb(53,190,142) 51%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#16AE76', endColorstr='#35BE8E',GradientType=0 ); /* IE6-9 */
}
.accordion.pink {border:1px solid #A30C61;}
.accordion.pink h2{
	background:#F45EB3;
	border-bottom:1px solid #A30C61;	
}
.accordion.pink.gradient h2{
	color:#FFF;
	background-image:linear-gradient(bottom, rgb(244,94,179) 1%, rgb(240,110,184) 51%);
	background-image:-o-linear-gradient(bottom, rgb(244,94,179) 1%, rgb(240,110,184) 51%);
	background-image:-moz-linear-gradient(bottom, rgb(244,94,179) 1%, rgb(240,110,184) 51%);
	background-image:-webkit-linear-gradient(bottom, rgb(244,94,179) 1%, rgb(240,110,184) 51%);
	background-image:-ms-linear-gradient(bottom, rgb(244,94,179) 1%, rgb(240,110,184) 51%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#F45EB3', endColorstr='#F06EB8',GradientType=0 ); /* IE6-9 */
}
.accordion.purple{border:1px solid #191762;}
.accordion.purple h2{
	background:#36309A;
	border-bottom:1px solid #191762;
}
.accordion.purple.gradient h2{
	color:#FFF;
	background-image:linear-gradient(bottom, rgb(53,48,154) 1%, rgb(80,83,176) 51%);
	background-image:-o-linear-gradient(bottom, rgb(53,48,154) 1%, rgb(80,83,176) 51%);
	background-image:-moz-linear-gradient(bottom, rgb(53,48,154) 1%, rgb(80,83,176) 51%);
	background-image:-webkit-linear-gradient(bottom, rgb(53,48,154) 1%, rgb(80,83,176) 51%);
	background-image:-ms-linear-gradient(bottom, rgb(53,48,154) 1%, rgb(80,83,176) 51%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#35309A', endColorstr='#5053B0',GradientType=0 ); /* IE6-9 */
}
.accordion.yellow {border:1px solid #AD7307;}
.accordion.yellow h2{
	background:#FFBE36;
	border-bottom:1px solid #AD7307;
}
.accordion.yellow.gradient h2{
	color:#FFF;
	background-image:linear-gradient(bottom, rgb(255,191,54) 1%, rgb(252,202,87) 51%);
	background-image:-o-linear-gradient(bottom, rgb(255,191,54) 1%, rgb(252,202,87) 51%);
	background-image:-moz-linear-gradient(bottom, rgb(255,191,54) 1%, rgb(252,202,87) 51%);
	background-image:-webkit-linear-gradient(bottom, rgb(255,191,54) 1%, rgb(252,202,87) 51%);
	background-image:-ms-linear-gradient(bottom, rgb(255,191,54) 1%, rgb(252,202,87) 51%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#FFBF36', endColorstr='#FCCA57',GradientType=0 ); /* IE6-9 */
}
.accordion.white {border:1px solid #BBB;}
.accordion.white h2{
	background:#FFF;
	border-bottom:1px solid #BBB;
}
.accordion.white.gradient h2{
	color:#444;
	background-image:linear-gradient(bottom, rgb(250,250,250) 1%, rgb(255,255,255) 51%);
	background-image:-o-linear-gradient(bottom, rgb(250,250,250) 1%, rgb(255,255,255) 51%);
	background-image:-moz-linear-gradient(bottom, rgb(250,250,250) 1%, rgb(255,255,255) 51%);
	background-image:-webkit-linear-gradient(bottom, rgb(250,250,250) 1%, rgb(255,255,255) 51%);
	background-image:-ms-linear-gradient(bottom, rgb(250,250,250) 1%, rgb(255,255,255) 51%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#FAFAFA', endColorstr='#FFFFFF',GradientType=0 ); /* IE6-9 */
}
